* {
  box-sizing: border-box;
}

body {
  height: 97vh;
  display: grid;
  place-items: center;
  background-color: rgb(68, 111, 218);
}

h1 {
  color: white;
  text-align: center;
  padding: 0px 24px;
}
