* {
  box-sizing: border-box;
}

body {
  height: 97vh;
  display: grid;
  place-items: center;
  background-color: rgb(107, 142, 229);
  transition: all 1s linear;
}

h1 {
  color: white;
  text-align: center;
  padding: 0px 24px;
}
