.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  position: relative;
  height: 40px;
  width: 70vw;
  overflow: hidden;
  background-color: white;
  border-radius: 50px;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  0% {
    box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.9);
  }
}

.progress {
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgb(71, 36, 210);
}

.imageContainer {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
